{% load sass_tags %}

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css' integrity='sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS' crossorigin='anonymous'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% sass_src 'scss/txtGen.scss' %}" >
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <!-- <script>
            function copyToClipboard(){
                var copyTarget = document.getElementById("copyTarget");
                document.getSelection().selectAllChildren(copyTarget);
                document.execCommand("Copy");
        
                var copyButton = document.getElementById("copyButton");
                var div = document.createElement('div');
                div.textContent = 'Copy Completed';
                copyButton.parentNode.insertBefore(div, copyButton.nextSibling);
            }
        </script> -->
        <style>
            li{
                padding: 12px;
            }

            i{
                padding-right: 12px;
            }

            p{
                padding-bottom: 24px;
            }

            .container{
                font-size: 32px;
            }

            @media (min-width: 748px){
                .container {
                    max-width: 736px;
                }
            }
        </style>
    </head>
    
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="../">お金に縛られない自由な働き方</a>
            </div>
            <div>
                <a class="navbar-text navbar-right" href="./">このサイトについて</a>
            </div>
        </div>
    </nav>
    
    <div class="container">
        <div>以下のサイトの文字をまとめ、MeCabで形態素解析した文章から生成しています。</div>
        <ul>
            <li><a href="https://yoshi-muneko.blogspot.com/p/twitter.html">脱・マンネリ生活</a></li>
            <li><a href="http://box341532.blogspot.com/p/blog-page.html">お金と時間に縛られずに自分の好きなことを仕事にしていきて行く人生</a></li>
            <li><a href="https://if-u-cdi2.com/gr/">月収10万円そのノウハウを梅田のカフェで限定5人に無料で教えています。</a></li>
            <li><a href="https://insta-kikaku.blogspot.com/p/20-11-5-1-1994111-17-70-20-24-11-3-1-1_2.html">脱社畜プロジェクト</a></li>
            <li><a href="http://lavelnoripy.moo.jp/Roy/twitter-next-stage/">今すぐ、楽に簡単に稼げる魔法の方法は存在しませんが、"誰でも着実に稼ぐための秘密"は確かに存在します。(以下略)</a></li>
        </ul>
        <div>
            画像は<a href="https://pixabay.com/">Pixabay</a>の画像をランダムに表示しています。
        </div>
    </div>

    <div class="bg-light rounded container mt-5 mb-5 p-5">
        <div class="h2">制作者</div>
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <div class="mt-2 mb-2 h3">HiBiナツキ</div>
            </div>
            <div class="col-sm-8">
                <ul class="ml-2">
                    <p><i class="fab fa-twitter"></i><a href="https://twitter.com/HibiNext" target="_blank">Twitter</a></p>
                    <p><i class="fab fa-github"></i><a href="https://github.com/SunSki" target="_blank">GitHub</a></p>
                    <p><i class="fas fa-blog"></i><a href="https://natsuki.themedia.jp/" target="_blank">ブログ</a></p>
                    <p><i class="fab fa-youtube"></i><a href="https://www.youtube.com/user/hibinatsuki/" target="_blank">Youtube</a></p>
                </ul>
            </div>
        </div>
    </div>
    
    <!-- <div style="padding: 16px;">
        <div>以下が元文章</div>
        <div id="copyTarget">
            <object data="{% sass_src 'text/splitted_text.txt' %}" type="text/plain" width="100%" height="100%"></object>
        </div>
    </div> -->

</html>
