{% load sass_tags %}

<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% sass_src 'scss/txtGen.scss' %}" >
</head>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="../">お金に縛られない自由な働き方</a>
        </div>
        <div>
            <a class="navbar-text navbar-right" href="./">このサイトについて</a>
        </div>
    </div>
</nav>

<div style="padding:32px;">
    <div>以下のサイトの文字をまとめ、MeCabで形態素解析した文章から生成しています。</div>
    <ul>
        <li><a href="https://yoshi-muneko.blogspot.com/p/twitter.html">脱・マンネリ生活</a></li>
        <li><a href="http://box341532.blogspot.com/p/blog-page.html">お金と時間に縛られずに自分の好きなことを仕事にしていきて行く人生</a></li>
        <li><a href="https://if-u-cdi2.com/gr/">月収10万円そのノウハウを梅田のカフェで限定5人に無料で教えています。</a></li>
        <li><a href="https://insta-kikaku.blogspot.com/p/20-11-5-1-1994111-17-70-20-24-11-3-1-1_2.html">脱社畜プロジェクト</a></li>
        <li><a href="http://lavelnoripy.moo.jp/Roy/twitter-next-stage/">今すぐ、楽に簡単に稼げる魔法の方法は存在しませんが、"誰でも着実に稼ぐための秘密"は確かに存在します。(以下略)</a></li>
    </ul>
    <div>
        画像は<a href="https://pixabay.com/">Pixabay</a>の画像をランダムに表示しています。
    </div>
</div>

